@model Infrastructure.Models.User

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@using (Html.BeginForm("Login", "Login"))
{
    @Html.AntiForgeryToken()
    if (TempData["Login"] != null)
    {
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script>swal("Datos Incorrectos!", "", "warning");</script>
    }
<div class="form-horizontal Glass" style="align-content:center">

    <div class="row g-0">
        <div class="col-md-4">
            <div class="card-body container" style="margin-top:10%">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="row p-3">
                    @Html.EditorFor(model => model.ID, new { htmlAttributes = new { @class = "text" } })
                    @Html.ValidationMessageFor(model => model.ID, "", new { @class = "text-danger" })
                </div>
                <div class="row p-3">
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "Contraseña" })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
                <div class="row p-3">
                    <input type="submit" value="Log in" class="btn btn-default" style="background-color:#0d4456; color:white" />
                </div>
            </div>
        </div>
    </div>
</div>
}

